  
  @font-face {
    font-family: 'Awesome Lathusca';
    src: url('fonts/awesome-lathusca/AwesomeLathusca.ttf') format('truetype');
    font-family: 'Droid Serif';
    src: url('https://st.1001fonts.net/droid-serif.ttf') format('truetype');
}

        html,
        body {
            font-family: 'Awesome Lathusca', 'Droid Serif', sans-serif;
            height: 100%;
            background: black;
            color: white;
            text-align: center;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        p {
            font-family: 'Droid Serif', serif;
            margin-top: 40px;
            font-weight: 100;
            font-size: 25px;
        }

        h1 {
            font-size: 65px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 0px;
            padding-top: 0px;
        }

        h2 {
            font-size: 18px;
            margin-top: 0px;
            font-family: 'Droid Serif';
            font-weight: 100;

        }

        .demoIntro {
            position: relative;
            z-index: 999;
        }

        div[id^=intro], div[id^=middle], div[id^=outro] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            display: flex;
            align-items: center;
            justify-content: center;
        }

      

        .btn {
            background-color: #081f2d;
            border-radius: 29px;
            border: 1px solid #081F2D;
            color: white;
            font-size: 15px;
            padding: 10px 45px;
            cursor: pointer;
            transition: 0.3s;
        }

        .btn:hover {
            background-color: white;
            color: #081F2D;
            border-color: #081F2D;
            transition: 0.3s;
        }
        